[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
falcon = "*"
uwsgi = "*"
gunicorn = "*"
ipython = "*"
msgpack-python = "*"
pytest = "*"

[requires]
python_version = "3.7"
